<% provide(:title, @user.name) %>
<% if logged_in? && @user == current_user %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>つぶやき一覧</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_infro">
      <h1>
        <%= @user.name %><br>
        <%= @user.email %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>マイクロポストの総数 <%= @user.microposts.count %> 個 </h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
<% end %>
