<li id="micropost-<%= micropost.id %>">
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.pictures.url if micropost.pictures? %>
  </span>
  <span class="timestamp">
    <%= time_ago_in_words(micropost.created_at) %> 前に投稿
  <% if current_user?(micropost.user) %>
    <%= link_to "削除", micropost, method: :delete, data: { confirm: "いいですか？" } %>
  <% end %>
  </span>
</li>

