<nav class="nav-header">
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gnavi">
        <!-- 音声ブラウザにメニューがあることを伝える -->
        <span class="sr-only">メニュー</span>
      </button>
      <%= link_to "Pwitter", root_path, class: "navbar-brand" %>
    </div>
    <div id="gnavi" class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><%=link_to "ホーム", root_path %></li>
          <% if logged_in? %>
            <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
<div class="dropdown">
  <!-- 切替ボタンの設定 -->
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    ドロップダウンリンク
  </a>
  <!-- ドロップメニューの設定 -->
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">メニュー1</a>
    <a class="dropdown-item" href="#">メニュー2</a>
    <a class="dropdown-item" href="#">メニュー3</a>
  </div><!-- /.dropdown-menu -->
</div><!-- /.dropdown -->
            
          <% else %>
            <li><%=link_to "ログイン", login_path %></li>
          <% end %>
      </ul>
    </div>
  </nav>
</nav>
